<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style type="text/css">
    a {text-decoration: none}
  </style>
</head>
<body text="#000000" link="#000000" alink="#000000" vlink="#000000">
<table role="none" width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td width="50%">&nbsp;</td><td align="center">

<table id="JR_PAGE_ANCHOR_0_1" role="none" class="jrPage" data-jr-height="842" cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 595px; border-collapse: collapse; background-color: white;">
<style type="text/css">
  #JR_PAGE_ANCHOR_0_1 th {font-weight: normal;}
  #JR_PAGE_ANCHOR_0_1 ul {list-style-type: disc; padding-inline-start: 40px; margin: 0px;}
  #JR_PAGE_ANCHOR_0_1 ol {list-style-type: decimal; padding-inline-start: 40px; margin: 0px;}
</style>
<tr role="none" valign="top" style="height:0">
<td style="width:20px"></td>
<td style="width:32px"></td>
<td style="width:7px"></td>
<td style="width:1px"></td>
<td style="width:1px"></td>
<td style="width:48px"></td>
<td style="width:1px"></td>
<td style="width:30px"></td>
<td style="width:20px"></td>
<td style="width:1px"></td>
<td style="width:7px"></td>
<td style="width:52px"></td>
<td style="width:348px"></td>
<td style="width:1px"></td>
<td style="width:26px"></td>
</tr>
<tr valign="top" style="height:21px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:3px">
<td>
</td>
<td rowspan="10" style="background-color: #B8DFF5; border: 1px solid #FFFFFF; ">
</td>
<td colspan="13">
</td>
</tr>
<tr valign="top" style="height:20px">
<td>
</td>
<td>
</td>
<td colspan="3" style="text-indent: 0px; text-align: center;">
<span style="font-family: Cooper Black; color: #000000; font-size: 14px; line-height: 1.1469727;">Jhon</span></td>
<td>
</td>
<td colspan="5" style="text-indent: 0px; text-align: left;">
<span style="font-family: Cooper Black; color: #000000; font-size: 14px; line-height: 1.1469727;">Doe</span></td>
<td colspan="3">
</td>
</tr>
<tr valign="top" style="height:16px">
<td>
</td>
<td colspan="2">
</td>
<td colspan="5" style="text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.2578125;">5566776767</span></td>
<td colspan="6">
</td>
</tr>
<tr valign="top" style="height:20px">
<td>
</td>
<td colspan="2">
</td>
<td colspan="4" style="text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.2578125;">test@test.fr</span></td>
<td colspan="7">
</td>
</tr>
<tr valign="top" style="height:18px">
<td>
</td>
<td colspan="2">
</td>
<td colspan="5" style="text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.2578125;">www.linkedin.com</span></td>
<td colspan="6">
</td>
</tr>
<tr valign="top" style="height:18px">
<td>
</td>
<td colspan="2">
</td>
<td colspan="5" style="text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.2578125;">www.github.com</span></td>
<td colspan="6">
</td>
</tr>
<tr valign="top" style="height:1px">
<td>
</td>
<td colspan="13">
</td>
</tr>
<tr valign="top" style="height:32px">
<td>
</td>
<td colspan="2">
</td>
<td colspan="9" style="background-color: #D1CDCD; text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 14px; line-height: 1.2578125; font-weight: bold; font-style: italic;">About me : </span></td>
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:32px">
<td>
</td>
<td colspan="3">
</td>
<td colspan="9" style="text-indent: 0px; text-align: left;">
</td>
<td>
</td>
</tr>
<tr valign="top" style="height:1px">
<td>
</td>
<td colspan="13">
</td>
</tr>
<tr valign="top" style="height:9px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:9px">
<td>
</td>
<td rowspan="15" style="background-color: #CFF5BA; border: 1px solid #FFFFFF; ">
</td>
<td colspan="13">
</td>
</tr>
<tr valign="top" style="height:20px">
<td>
</td>
<td colspan="3">
</td>
<td colspan="9" style="border-bottom: 1px solid #000000; text-indent: 0px; text-align: left;">
<span style="font-family: Britannic Bold; color: #000000; font-size: 14px; line-height: 1.0;">Experiences:</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:53px">
<td>
</td>
<td colspan="13">
</td>
</tr>
<tr valign="top" style="height:30px">
<td>
</td>
<td colspan="3">
</td>
<td colspan="5" style="text-indent: 0px; text-align: center;">
<span style="font-family: Ink Free; color: #000000; font-size: 10px; line-height: 1.1999989; font-weight: bold;">Company 1</span></td>
<td colspan="4" style="border-bottom: 1px dashed #000000; text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.2578125;">Et harum quidem rerum facilis est et expedita distinctio. In dapibus augue non sapien. Etiam bibendum elit eget erat.</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:20px">
<td>
</td>
<td colspan="13">
</td>
</tr>
<tr valign="top" style="height:30px">
<td>
</td>
<td colspan="3">
</td>
<td colspan="5" style="text-indent: 0px; text-align: center;">
<span style="font-family: Ink Free; color: #000000; font-size: 10px; line-height: 1.1999989; font-weight: bold;">Company 2</span></td>
<td colspan="4" style="border-bottom: 1px dashed #000000; text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.2578125;">Et harum quidem rerum facilis est et expedita distinctio. In dapibus augue non sapien. Etiam bibendum elit eget erat.</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:19px">
<td>
</td>
<td colspan="13">
</td>
</tr>
<tr valign="top" style="height:30px">
<td>
</td>
<td colspan="3">
</td>
<td colspan="5" style="text-indent: 0px; text-align: center;">
<span style="font-family: Ink Free; color: #000000; font-size: 10px; line-height: 1.1999989; font-weight: bold;">Company 3</span></td>
<td colspan="4" style="border-bottom: 1px dashed #000000; text-indent: 0px; text-align: justify;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.2578125;">Et harum quidem rerum facilis est et expedita distinctio. In dapibus augue non sapien. Etiam bibendum elit eget erat.</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:88px">
<td>
</td>
<td colspan="13">
</td>
</tr>
<tr valign="top" style="height:20px">
<td>
</td>
<td colspan="2">
</td>
<td colspan="9" style="border-bottom: 1px solid #000000; text-indent: 0px; text-align: left;">
<span style="font-family: Britannic Bold; color: #000000; font-size: 14px; line-height: 1.0;">Diploma :</span></td>
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:30px">
<td>
</td>
<td colspan="13">
</td>
</tr>
<tr valign="top" style="height:20px">
<td>
</td>
<td colspan="2">
</td>
<td colspan="7" style="text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.2578125;">Diplome number 1</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; line-height: 1.2578125;">Et harum quidem rerum facilis est et expedita distinctio. In dapibus augue non sapien. </span></td>
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:30px">
<td>
</td>
<td colspan="13">
</td>
</tr>
<tr valign="top" style="height:20px">
<td>
</td>
<td colspan="2">
</td>
<td colspan="9" style="border-bottom: 1px solid #000000; text-indent: 0px; text-align: left;">
<span style="font-family: Britannic Bold; color: #000000; font-size: 14px; line-height: 1.0;">Languages:</span></td>
<td colspan="2">
</td>
</tr>
<tr valign="top" style="height:74px">
<td>
</td>
<td colspan="13">
</td>
</tr>
<tr valign="top" style="height:158px">
<td colspan="15">
</td>
</tr>
</table>

</td><td width="50%">&nbsp;</td></tr>
</table>
</body>
</html>
